# This is the envar that diesel uses to manage migrations. It should match the
# one in Rocket.toml
DATABASE_URL=sqlite:neems-api.db

# This is not used by anything yet
ENABLE_TOTP=true

# Name of the rocket config file. See https://rocket.rs/guide/v0.5/configuration/#default-provider
ROCKET_CONFIG=Rocket.toml

# Name of dir where we put generated ts bindings 
#NEEMS_TS_OUTPUT_DIR=
