# This is used by diesel
DATABASE_URL=sqlite:neems-core.db

# This is not used by anything yet
ENABLE_TOTP=true

# Name of the rocket config file. See https://rocket.rs/guide/v0.5/configuration/#default-provider
ROCKET_CONFIG=rocket.toml
