## defaults for _all_ profiles
[default]
address = "0.0.0.0"
limits = { form = "64 kB", json = "10 MiB" }
ip_header = "X-Real-IP"
port = 8000
secret_key_file = "secret_key.txt"

# In a normal Rocket.toml, you might include default db urls here, but we don't
# do that.  We just specify them in envars.
